In [1]:
import pandas as pd

In [2]:
province = pd.read_csv("covid_province.csv", encoding="utf-8")
province

,จังหวัด,รวม,น้อยกว่า 1 ปี,1 ปี,2 ปี,3 ปี,4 ปี,5 ปี,6 ปี,7 ปี,...,96 ปี,97 ปี,98 ปี,99 ปี,100 ปี,101 และมากกว่า,ไม่ทราบ/ระบุปีจันทรคติ,ประชากรในทะเบียนบ้านกลาง,ประชากรที่มิใช่สัญชาติไทย,ประชากรอยู่ระหว่างการย้าย
0,กรุงเทพมหานคร,5588222,34808,39431,41803,44389,45504,47745,50717,51678,...,1481,1226,962,815,693,2203,1,98625,48981,3922
1,สมุทรปราการ,1351479,11150,12175,12765,13390,13719,14123,14971,14902,...,248,217,164,130,113,438,1,19764,4685,691
2,นนทบุรี,1276745,9180,10137,10566,11212,11419,11816,12237,12639,...,300,222,170,148,100,381,2,16702,4974,599
3,ปทุมธานี,1176412,9664,10561,11151,12160,11978,12444,12891,12985,...,161,105,114,60,73,231,1,10547,4115,592
4,พระนครศรีอยุธยา,819088,6714,7209,7536,7784,7699,8065,8675,8800,...,231,191,149,116,76,256,0,2352,1532,275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,ตรัง,640574,5410,6163,6451,6777,6936,7426,7979,8162,...,182,121,108,63,67,159,0,1624,864,287
73,พัทลุง,523077,4266,4772,5122,5319,5284,5876,6198,6349,...,157,151,121,83,66,143,0,797,247,186
74,ปัตตานี,726015,11404,11606,12094,12552,12235,12344,12579,13187,...,149,173,121,168,300,431,0,2175,1097,344
75,ยะลา,538602,8138,8650,8765,8801,8802,9089,9316,9731,...,126,114,110,109,212,471,0,2429,1234,356
76,นราธิวาส,804429,11878,12066,12658,13037,12717,13022,13629,13994,...,170,143,104,273,193,511,1,2501,979,334

In [17]:
province[province["จังหวัด"] == 'กาญจนบุรี']

,จังหวัด,รวม,น้อยกว่า 1 ปี,1 ปี,2 ปี,3 ปี,4 ปี,5 ปี,6 ปี,7 ปี,...,96 ปี,97 ปี,98 ปี,99 ปี,100 ปี,101 และมากกว่า,ไม่ทราบ/ระบุปีจันทรคติ,ประชากรในทะเบียนบ้านกลาง,ประชากรที่มิใช่สัญชาติไทย,ประชากรอยู่ระหว่างการย้าย
19,กาญจนบุรี,891976,6843,7399,7713,8293,8432,8968,9443,9868,...,146,114,111,81,61,235,2,4684,75218,441